- frontpage_fragment_cache("grid_item", listing) do
  .home-fluid-thumbnail-grid-item
    %div
      -# Listing image
      = render :partial => "layouts/grid_item_listing_image", :locals => {:listing => listing, :modifier_class => ""}
      - rate = Rate.where(rateable_id: listing.id, rateable_type: 'Listing', dimension: 'rate')
      - user = rate.map {|rate| [Person .find(rate.rater_id).username, rate.stars]}
      - listing1 = Listing.find(listing.id)
      - if listing1.rate_average
        .home-fluid-thumbnail-grid-rating
          = content_tag :div, "", "data-dimension" => "rate", :class => "star disable-star", "data-rating" => listing1.rate_average.avg, "data-id" => listing.id, "data-classname" => "Listing", "data-star-count" => 5
          %span.no_of_reviews
          = link_to "( #{rate.count} reviews )", "#test-modal-#{listing1.id}", class: 'popup-modal'
          = render partial: 'listings/rate_list_popup', locals: {user: user, listing: listing1}
      -# Listing author details
      .home-fluid-thumbnail-grid-author
        .home-fluid-thumbnail-grid-author-avatar
          = link_to(person_path(id: listing.author.username)) do
            = image_tag(listing.author.avatar.thumb, :class => "home-fluid-thumbnail-grid-author-avatar-image")
        = link_to(person_path(id: listing.author.username), :class => "home-fluid-thumbnail-grid-author-name") do
          = PersonViewUtils::person_entity_display_name(listing.author, @current_community.name_display_type)
