/ = listing.inspect
- if listing.rate_average
  %h1
    - rate = Rate.where(rateable_id: listing.id, rateable_type: 'Listing', dimension: 'rate')
    - user = rate.map {|rate| [Person	.find(rate.rater_id).username, rate.stars]}
    = "Total Rating :"
  = content_tag :div, "", "data-dimension" => "rate", :class => "star disable-star", "data-rating" => listing.rate_average.avg, "data-id" => listing.id, "data-classname" => "Listing", "data-star-count" => 5
  %span.no_of_reviews
  = "from"
  = link_to "#{rate.count} reviews", "#test-modal-#{listing.id}", class: 'popup-modal'

= render partial: 'listings/rate_list_popup', locals: {user: user, listing: listing}